@use '../abstract/variables';

.city-tabs-container{
    display: flex;
    padding: 0 15px 0 15px;
    background-color: variables.$color-tab-bg;
    border-bottom: 2px solid variables.$color-tab-bg;
}

.city-tab-item{
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 0.9em;
    color: variables.$color-tab-inactive;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: -2px;

    &.active {
        color: variables.$color-text-dark;
        font-weight: bold;
        border-bottom: 2px solid variables.$color-tab-cursor;
    }
}
