@use '../abstract/variables';

.forecast-hours-container{
    .hours-list{
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-top: 15px;
        
    }
    
    .hour-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 5px;
        padding: 10px 5px;
        border-radius: 8px;
        background-color: variables.$color-bg-light;
        min-width: 79px;
        .temp-value{
            font-size: 1.2em;
            font-weight: bold;
            color: variables.$color-text-dark;
            margin-bottom: 2px;
        }
        .rain-percent{
            font-size: 0.85em;
            color: variables.$color-rain-percent;
            margin-bottom: 5px;
        }   

        .hour-icon{
            width: 40px;
            height: 40px;
            margin-bottom: 5px;
        }   
        .time-label{
            font-size: 0.85em;
            color: variables.$color-text-medium;
            margin-top: auto;
        }
    }

 
}