@use '../abstract/variables';

* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: variables.$color-bg;
    color: variables.$color-text-dark;
}
.app-main-content{
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    
}

.forecast-hours-container,
.forecast-days-container{
    padding:15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: variables.$color-bg-light;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
    cursor: pointer;

    &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); 
        transform: translateY(-2px); 
    }
    &::before {
        content: attr(data-tooltip); 
        visibility: hidden;
        opacity: 100;
        background-color: variables.$color-text-medium;
        color: variables.$color-tab-bg; 
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 0.85em;
        font-weight: 500;
        position: absolute;
        bottom: 100%; 
        left: 50%;
        transform: translate(-50%, -10px); 
        white-space: nowrap; 
        z-index: 20; 
        transition: opacity 0.3s, transform 0.3s;
    }

    &:hover::before {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -5px); 
    }
    h3{
        margin-top: 0;
        color: variables.$color-text-dark;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
}